<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>qvideo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <iframe src="https://youtu.be/GebJbBq9UR0" *ngIf="this.user.video_url != undefined" style="width: 100%;"></iframe> -->



  <!-- <iframe width="100%" height="320px" id="v_ideo" [src]="domSanitizer.bypassSecurityTrustResourceUrl(video_url)"   allowfullscreen="true"></iframe> -->

  <iframe width="100%" height="320px" id="v_ideo" [src]='this.safeUrl'   allowfullscreen="true"></iframe>
  
   
  
  <!-- {{this.video_url}} -->
  <!-- {{this.user.video_url}} -->
  <!-- https://www.youtube.com/embed/GebJbBq9UR0/ -->
</ion-content>
