<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Please rate us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/mainlogo.png" alt="main-logo">

  <p class="main-content">Thank you for your valuable feedback.</p>
  <!-- <p class="second-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
  <div class="stars">
    <ion-icon slot="start" name="star" *ngFor="let num of [1,2,3,4,5]" (click)="rate(num)" [ngStyle]="{'color':getColor(num)}">
    </ion-icon>
  </div>


  <button class="mainbtn">Submit</button>
</ion-content>
