.stars
{
    padding-top: 60px;
    text-align: center;
}

.stars ion-icon
{
    font-size:30px;
}

img{
    max-width: 150px;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    display: flex;
}


.main-content{
    font-size: 20px;
    font-weight: normal !important;
    text-align: center;
    margin-top: 70px;
}


.second-content {
    text-align: center;
    font-weight: normal !important;
    padding-left: 20px;
    padding-right: 20px;
}


.mainbtn {
    background: #d93128;
    color: #ffffff;
    font-weight: bold;
    margin: auto;
    text-align: center;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    outline: none !important;
    height: 45px;
    border-radius: 30px;
    font-size: 22px;
    margin-top: 30px;
}