ion-icon{
  font-size:20px;
  padding-top: 8px;
}

.head_btn
{
  background-color:#3e4095;
  color:#fff;
  padding:10px;
}

ion-segment-button {
  --background-checked: var(--background-checked);
  --color-checked: var(--ion-color-success-contrast);
 // background-color: beige;
}
.sag{color:#d93128 !important}
.my1{color: gray;}