<ion-header>
 
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <a target="_blank" href="https://app.studyrocks.in/home2">
        <ion-icon name="home-outline"></ion-icon>
      </a>
    </ion-buttons>

    <ion-title>v2.1</ion-title>
    <!-- <ion-title>v1.3</ion-title> -->

    <!-- <ion-title>Explanation</ion-title> -->
    <ion-buttons slot="end">
     
        <button (click)="request_help()" ion-button class="head_btn">
          Request LIVE Teacher
        </button>
   

      <!--   <button ion-button (click)="downloadpdf()">
        <ion-icon name="download"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <!-- ok
    {{daily_report_desc }} -->
    <span [innerHtml]="view_desc | safe4: 'html'">{{view_desc}}</span>
    <!-- <br> -->
    <span> - - - - - - -
      <ion-icon name="book-outline"></ion-icon>
      - - - - - - </span>
    <span [innerHtml]="view_sol | safe4: 'html'">{{view_desc}}</span>
  </ion-text>
</ion-content>

<ion-footer>
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
    <ion-segment-button value="discover">
      <ion-label  class="my1"><ion-icon  name="medical-outline"></ion-icon>
      <br/>
      Pdf
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="snapshot"> 
      <ion-label class="my1"><ion-icon  name="color-wand-outline"></ion-icon>
      <br/>
      Video
      </ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="collection">
      <ion-label class="my1"><ion-icon  name="bookmarks-outline"></ion-icon>
      <br/>
      Rate Us
      </ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="more">
      <ion-label class="my1" ><ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <br/>
      Concept
      </ion-label>
    </ion-segment-button> -->
  </ion-segment>
</ion-footer>